#text-align-right {
    text-align: right;
}

#text-align-center {
    text-align: center;
}

/* From Uiverse.io by Mhyar-nsi */ 
.button-blue {
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 200px;
    height: 45px;
    transition: 0.3s;
    margin-bottom: 10px;
    margin-top: 10px;
}
  
.button-blue:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

.button-red {
    background-color: #f3f7fe;
    color: #f63b3b;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 200px;
    height: 45px;
    transition: 0.3s;
}
  
.button-red:hover {
    background-color: #f63b3b;
    box-shadow: 0 0 0 5px #8705055f;
    color: #fff;
}

/* styles.css */
.card {
    margin: 1rem;
}
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1rem;
    padding: 1rem; /* Optional: adds some space around the container */
}

.card-flex {
    width: 18rem;
    margin: 0 auto; /* Centers the card if it doesn't fill the grid cell */
}

/* Optional: Additional styling for better appearance */
.card-flex {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card-flex-2:hover {
    border: 2px solid rgb(251, 127, 127);
    border-radius: 4px;
    box-shadow: 0 4px 4px rgb(251, 127, 127);
}

.card-flex-3:hover {
    border: 2px solid rgb(2, 198, 2);
    border-radius: 4px;
    box-shadow: 0 4px 4px rgb(2, 198, 2);
}

.card-body {
    padding: 1rem;
}


.card-title {
    margin-bottom: 0.5rem;
}

.card-subtitle {
    margin-bottom: 0.75rem;
}

.card-text {
    margin-bottom: 1rem;
}

.card-link {
    display: inline-block;
    margin-right: 1rem;
}
  