{% extends "base.html" %}
{% block title %}
    Habit Tracker
{% endblock title %}
{% block content %}
    <div>id='heatmap'></div>
    <script scr="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphData = {{ graph_json | safe}};
        Plotly.newPlot("heatmap", graphData.data, graphData.layout);

        document.getElementById('heatmap').on('plotly_click', function(data){
            fetch('/calendar/{{ heatmap_id }}/update/', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({'clicData': data})
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    var plotDiv = document.getElementById('heatmap');
                    var x = data.clickData.points[0].x;
                    var y = data.clickData.points[0].y;
                    var xIndex = plotDiv.data[0].x.indexOf(x);
                    var yIndex = plotDiv.data[0].y.indexOf(y);

                    plotDiv.data[0].z[yIndex][xIndex] = data.value;
                    Plotly.redraw('heatmap');
                }
            })
        })
    </script>
{% endblock content %}
