{% extends "base.html" %}
{% block title %}
    Habit Details
{% endblock title %}
{% block content %}
    <h2>{{ habit }}</h2>
    <hr />
    <div class="habit-container">
        {{ plot_div | safe }}
    </div>
    <a href="{% url 'habit_add_entry' habit.id %}"><p>Check daily habit</p></a>

    {% if habit.description %}
    <p>{{ habit.description }}</p>
    <a href="{% url 'habit_description_edit' habit.id %}"><p>Edit description</p></a>
    {% else %}
    <a href="{% url 'habit_description_add' habit.id %}"><p>Add description</p></a>
    {% endif %}
    <a href="{% url 'habit_delete' habit.id %}"><p>Delete Habit</p></a>
{% endblock %}
