{% extends "base.html" %}
{% load static %}
{% block title %}
    Habit Details
{% endblock title %}
{% block content %}
<div class="card">
    <div class="card-body">
        <p id="text-align-center"><i>{{ quotes }}</i></p>
        <p id="text-align-right"><i>Author: <b>{{ author }}</b></i></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
        <h2>{{ habit|title }}</h2>
    <hr />
    <div class="habit-container">
        {{ plot_div | safe }}
    </div>
    </div>
  </div>  
    
    <a href="{% url 'habit_add_entry' habit.id %}"><button class="button-blue">Check daily habit</button></a>
    {% if habit.description %}
    <div class="card">
        <div class="card-body">
    
    <p>{{ habit.description }}</p>
        </div>
    </div>    
    <a href="{% url 'habit_description_edit' habit.id %}"><button class="button-blue">Edit description</button></a>
    
    {% else %}
    <a href="{% url 'habit_description_add' habit.id %}"><button class="button-blue">Add description</button></a>
    {% endif %}
    <a href="{% url 'habit_delete' habit.id %}"><button class="button-red">Delete Habit</button></a>
{% endblock %}
