{% extends "base.html" %}%
{% block title %} Calendar Heatmap {% endblock title %}
{% block content %}   
    <style>
        body {
             /* Dark background to match theme */
            color: #fff;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .heatmap-container {
            margin: 20px auto;
            width: 90%;
        }
    </style>

    <h1>My Interactive Calendar Heatmap</h1>
    <div class="heatmap-container">
        {{ plot_div|safe }}
    </div>
{% endblock content %}